/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  /* border: 1px solid red; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* editing start from here */
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column;
  /* border: 1px solid rgb(73, 251, 115); */
}

.card {
  width: 44vw;
  height: 28rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 16px 30px 0px #90b2c68a, 0px 0px 1px 0px white,
    0px 1px 0px #d3d3d369;
    margin-bottom: 2rem;
  /* border: 1px solid rgb(0, 0, 0); */
}

.box {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: column;
  flex-grow: 1;
  /* border: 1px solid rgb(0, 0, 0); */
}

.card-1 {
  height: 15.5rem;
  background-color: hsl(179, 62%, 43%);
  padding: 1.6rem 2.5rem;
}

.card-1 h2 {
  font-size: 1.03rem;
  color: rgba(255, 255, 255, 0.801);
  margin: 0.5rem 0;
}

.para-price {
  color: white;
  font-size: 1.85rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.para-price span {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.33);
  margin-left: 0.6rem;
}

.para-full-access {
  font-size: 0.92rem;
  color: rgba(255, 255, 255, 0.667);
  margin-bottom: 1.8rem;
}

.card-2 {
  height: 15.5rem;
  background-color: hsl(179.4, 45.8%, 53.7%);
  padding: 1.6rem 2.5rem;
}

.card-2 h2 {
  font-size: 1.03rem;
  color: white;
  margin-bottom: 0.75rem;
}

.card-2 p {
  line-height: 1.2rem;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.519);
}

.card-2 span {
  display: block;
}

.card-3 {
  height: 13rem;
  background-color: white;
  padding: 1.6rem 2.5rem;
}

.card-3 h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(179, 62%, 43%);
  margin: 0.6rem 0;
}

.card-3 h2 {
  font-size: 1.05rem;
  font-weight: 700;
  color: hsl(71, 73%, 54%);
  margin: 0.5rem 0;
}

.card-3 p {
  font-size: 0.96rem;
  font-weight: 400;
  color: rgb(188, 188, 188);
  margin: 0 0 0.5rem 0;
}

button.btn-signup {
  width: 100%;
  height: 2.8rem;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 450px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  #container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
    border-radius: 0.5rem;
    overflow: visible;
  }

  .card {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 3rem;
  }

  .box {
    width: 90%;
  }

  .card-1,
  .card-2 {
    order: 2;
  }

  .card-3 {
    height: 18rem;
  }

  .card-3 p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
